* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: gray;
}

.container {
  /* display: flex; */
  /* justify-content: center; */
}

.card-section {
  display: flex;
  /* align-items: center; */
}

.desktop-card {
  margin-top: 200px;
  height: 200px;
  width: 400px;
  border: solid black 1px;
}

.hide-jim {
  display: none;
}
